body {
    background-image: url('../image/cloud.png');
    opacity: 80%;
    background-repeat: repeat-x;

}

.logo-main {
    text-align: center;
}

.navbar-brand img {
    width: 130px;
    height: auto;
}

.main-contents {
    text-align: center;
}

 
.technologies img:hover {
    opacity: 50%;

}

.solutions img:hover {
    opacity: 50%;
}


/* Small screens, laptops */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 2000px) {

.main-contents span{
    font-weight: bold;
}

.solutions img {
    margin-left: 20%;
    width: 77%;
    height: auto;

}

.btn-warning {
    margin-left: 100px;
    background-color: #75170f !important;
    border: none !important;
    
}

.zaanth-solutions-button {
    margin-left: 100px;
    
}

.zaanth-solutions-button a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

.zaanth-solutions-button a:hover {
    color: #f49a05;
    
}

.solution-services {
    margin-left: 100px;
}


.technologies img {
    margin-right: 20%;
    width: 77%;
    height: auto;

}



.btn-primary {
    margin-right: 100px;
    background-color: #ee9a13 !important;
    border: solid black 1px !important;
    border: none !important;
    
}

.zaanth-tech-button a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    
    
}

.zaanth-tech-button a:hover {
    color: #75170f
    
    
}

.tech-services {
    margin-right: 100px;
}
.footer {
    text-align: center;
    background-color:black;

}

.footer span {
    color: white;
    
    
}

}


/* Mobile Devices */

@media (min-width: 320px) and (max-width: 480px) {
    
    .logo-main {
        text-align: center;
    }
    
    .left-line {
        background-color: black !important;
    }
    .solutions img {
        /* margin-left: 20%; */
        margin-left: 0% !important;
        width: 300px !important;
        height: auto !important;
    
    }

    .right-line {
        background-color: purple !important;
    }

    .technologies img {
        /* margin-left: 0%; */
        margin-right: 0% !important;
        width: 300px !important;
        height: auto !important;
    
    }

    .btn-primary {
        margin-right: 0% !important;
        
        
    }

    .btn-waring {
        margin-left: 0% !important;
        
        
    }
}

/* Ipads and Tablets */

@media (min-width: 481px) and (max-width: 768px) {
    
    .logo-main {
        text-align: center;
    }
    
    .left-line {
        background-color: green !important;
    }
    .solutions img {
        /* margin-left: 20%; */
        margin-left: 0% !important;
        width: 400px !important;
        height: auto !important;
    
    }

    .right-line {
        background-color: pink !important;
    }

    .technologies img {
        /* margin-left: 0%; */
        margin-right: 0% !important;
        width: 400px !important;
        height: auto !important;
    
    }

    .btn-primary {
        margin-right: 0% !important;
        
        
    }

    .btn-warning {
        margin-left: 0% !important;
        
        
    }

    .solution-services{
        margin-left: 0% !important;
        
        
    }

    .tech-services{
        margin-right: 0% !important;
        
        
    }
}
